*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.navb{
    height: 84px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid black;
    background-color: white;
    /* position: fixed;
    top: 0px; */
    
}

.Hero{
    height: 400px;
    width: 80%;
    margin: auto;
    font-size: 24px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#hero-head{
    font-size: 40px;
}

#hero-img{
    width:300px;
    height:300px; 
    border-radius:10%;
}

.r-logo{
    width: 80px;
    margin-left: 20px;
}

.navit{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 20px;
    gap: 50px;
    color: black;
    font-size: 20px;
    font-weight: bold;
    
}


#search{
    padding: 10px;
    width: 300px;
    font-size: 16px;
    
}

.footer{
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: italic;
    background: #322929;
    color: white;

}

@media screen and (maxwidth:300px)
{
    .navb{
        justify-content: start;
        gap: 20px;
    }

    .r-logo{
        margin-left: 5px;
    }

    .Hero{
        margin: 0;
        justify-content: start;
        flex-wrap: wrap;
    }

    #hero-img{
        width:'100px';
        height:'100px'; 
    }

    .navit{
        gap: 20px;
        margin-right: 5px;
    }

    #search{
        width: 20px;
        padding: 2px;
    }
    
}

@media (minwidth:301px) and (maxwidth:500px)
{
    .navb{
        justify-content: start;
        gap: 20px;
    }

    .Hero{
        margin: 0;
        justify-content: start;
        flex-wrap: wrap;
    }

    .r-logo{
        margin-left: 5px;
    }

    .navit{
        gap: 10px;
        margin-right: 0px;
    }

    #hero-img{
        width:100px;
        height:100px; 
    }

    #search{
        width: 20px;
    }
    
}

@media (minwidth:501px) and (maxwidth:800px)
{
    .navb{
        justify-content: start;
        gap: 30px;
    }

    .r-logo{
        margin-left: 5px;
    }

    #hero-img{
        width:200px;
        height:200px; 
    }

    .navit{
        gap: 30px;
        margin-right: 5px;
    }

    #search{
        width: 100px;
        
    }
    
}